/* You can add global styles to this file, and also import other style files */
/*
    1. Install bootstarp library cmd: npm install bootstrap --save
    2. Apply installed import from node_modules
*/
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: blue;
    text-align: center;
    color: white;
};